<h1>Register for Demo</h1>
Submit a code drop of your project, add a snazzy tagline, and get ready to present!

Watch the Projector (http://ryhan.me/labs/projector) for Demo Order.

<p>
<%= render 'form' %>
</p>
<%= link_to 'Back', users_path , :class=>"pure-button"%>
